

.main-navigation.toggled ul,
.menu-toggle {
	display: block
}

.navbar-nav>li.current_page_item a,
.navbar-nav>li.current_page_parent a {
	color: #fff
}

@media screen and (min-width:37.5em) {
	.menu-toggle {
		display: none
	}
	.main-navigation ul {
		display: block
	}
}

.site-main .comment-navigation,
.site-main .post-navigation,
.site-main .posts-navigation {
	margin: 0 0 1.5em;
	overflow: hidden
}

.comment-navigation .nav-previous,
.post-navigation .nav-previous,
.posts-navigation .nav-previous {
	float: left;
	width: 50%
}

.comment-navigation .nav-next,
.post-navigation .nav-next,
.posts-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%
}

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute!important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	word-wrap: normal!important
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, .6);
	clip: auto!important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: .875rem;
	font-weight: 700;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000
}

#content[tabindex="-1"]:focus {
	outline: 0
}

.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto
}

.clear:after,
.clear:before,
.comment-content:after,
.comment-content:before,
.entry-content:after,
.entry-content:before,
.site-content:after,
.site-content:before,
.site-footer:after,
.site-footer:before,
.site-header:after,
.site-header:before {
	content: "";
	display: table;
	table-layout: fixed
}

.clear:after,
.comment-content:after,
.entry-content:after,
.site-content:after,
.site-footer:after,
.site-header:after {
	clear: both
}

.widget {
	margin: 0 0 1.5em
}

.widget select {
	max-width: 100%
}

.sticky {
	display: block
}

.hentry {
	margin: 0 0 1.5em
}

.byline,
.updated:not(.published) {
	display: none
}

.group-blog .byline,
.single .byline {
	display: inline
}

.entry-content,
.entry-summary,
.page-content {
	margin: 1.5em 0 0
}

.page-links {
	clear: both;
	margin: 0 0 1.5em
}

.comment-content a {
	word-wrap: break-word
}

.bypostauthor {
	display: block
}

.infinite-scroll.neverending .site-footer,
.infinite-scroll .posts-navigation {
	display: none
}

.infinity-end.neverending .site-footer {
	display: block
}

.comment-content .wp-smiley,
.entry-content .wp-smiley,
.page-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0
}

.wp-caption,
embed,
iframe,
object {
	max-width: 100%
}

.wp-caption {
	margin-bottom: 1.5em
}

.wp-caption img[class*=wp-image-] {
	display: block;
	margin-left: auto;
	margin-right: auto
}

.wp-caption .wp-caption-text {
	margin: .8075em 0
}

.wp-caption-text {
	text-align: center
}

.gallery {
	margin-bottom: 1.5em
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%
}

.gallery-columns-2 .gallery-item {
	max-width: 50%
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%
}

.gallery-columns-4 .gallery-item {
	max-width: 25%
}

.gallery-columns-5 .gallery-item {
	max-width: 20%
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%
}

.gallery-caption {
	display: block
}

@font-face {
	font-family: Moon Flower Bold;
	src: url(/wp-content/themes/helen-of-joy/assets/fonts/moon-flower-bold.ttf)
}

html {
	height: 100%;
	margin: 0
}

body {
	font-family: Moon Flower Bold, Helvetica, sans-serif;
	font-size: 20px;
	background-color: #3e4249;
	scroll-behaviour: smooth
}

h1,
h2,
h3,
h4,
h5,
h6 {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	font-weight: 700;
	color: #fff
}

h1 {
	font-size: 3em
}

h1,
h2 {
	margin: 0 0 40px
}

h3 {
	margin: 20px 0
}

h4 {
	font-size: 18px
}

#bio-container,
.post,
.widget {
	background-color: #3e4249;
	opacity: .8;
	border: 1px solid #ddd;
	border-radius: 5px;
	box-shadow: 6px 6px 5px #888
}

#logo {
	top: -5px;
	position: relative
}

a:hover {
	text-decoration: none
}

.link-to-more {
	font-size: 1.6em;
	color: #fff
}

.link-to-more:hover {
	text-decoration: none;
	color: #000
}

.error404 {
	background: url(assets/img/404-background.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50%
}

#hero {
	padding: inherit;
	height: 1200px;
	background-color: #fff
}

#hero .hero-text {
	margin-top: 30px
}

img {
	max-width: 100%
}

section {
	padding: 80px 0
}

.section-header {
	text-align: center
}

.section-header h2 {
	font-family: Moon Flower Bold;
	font-size: 50px
}

.feature-image {
	display: table;
	width: 100%
}

.feature-image-default {
	background: url(/wp-content/themes/helen-of-joy/assets/img/stuff-feature.jpg) no-repeat;
	background-size: cover
}

.feature-image-default-alt {
	background: url(.../img/hipster-stuff.jpg) no-repeat;
	background-size: cover
}

.feature-image h1 {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	color: #fff
}

.section-block {
	background-repeat: no-repeat;
	background-position: 50%;
	background-attachment: fixed;
	background-size: cover;
	background-color: #000;
	text-align: center;
	color: #fff
}

#bio-container {
	padding-top: 20px;
	margin-top: 100px;
	margin-bottom: 100px;
	width: 50%
}

#bio-section p {
	text-align: center;
	font-size: 1.5em;
	color: #fff
}

#post-hero-bar {
	padding: 30px 0;
	box-shadow: 6px 6px 5px #111
}

#music-player,
#post-hero-bar {
	background: #3e4249;
	z-index: 2;
	position: relative
}

#music-player {
	color: #fff;
	width: 100%;
	box-shadow: 0 0 5px 5px #111
}

#music-player-header {
	display: inline;
	box-shadow: 6px -6px 6px 5px #000;
	-moz-box-shadow: 6px 6px 5px #000;
	-webkit-box-shadow: 6px 6px 5px #000
}

.section-header iframe {
	margin: 0 auto;
	display: inline-block
}

#featurette {
	text-align: center;
	color: #fff
}

#featurette a {
	text-decoration: none;
	color: #fff
}

#featurette a:hover {
	text-decoration: none;
	color: #111
}

#shows {
	text-align: center;
	box-shadow: 0 0 5px 5px #111;
	padding-bottom: 0;
	background-color: #3e4249;
	color: #fff;
	position: relative;
	z-index: 2
}

#shows h1 {
	margin-bottom: 80px
}

.show h3 {
	font-size: 25px
}

.show {
	margin-bottom: 60px
}

.show img {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border: 50%;
	box-shadow: 4px 4px 5px #000
}

.show div p {
	font-size: 23px
}

.show div a {
	font-size: 25px
}

.shows-header {
text-decoration: underline;
}

#show-date-time {
	color: #868686;
	font-size: 1.25em;
	text-shadow: 1px 1px 1px #626262;
	font-size: 1.6em
}

.show-links a {
	margin: .3em
}

.no-shows {
font-size: 1.5em;
margin-bottom: 2em;
}

footer {
	background: #3e4249;
	color: #fff;
	box-shadow: 0 0 5px 5px #111
}

footer p {
	margin: 0
}

footer a:link,
footer a:visited {
	color: #fff
}

footer a:hover {
	color: #000;
	text-decoration: none
}

footer li.signup-link a {
	color: #dd5638
}

footer li.signup-link a:hover {
	font-weight: 700
}

.media-page {
	margin-top: 3em;
	margin-bottom: -3em;
	display: flex;
	justify-content: center
}

.media-page div {
	margin: 1em
}

.media-page iframe {
	background-color: #303030
}

#blogpage,
#postpage,
.archive,
.search,
.single-post {
	background: url(/wp-content/themes/helen-of-joy/assets/img/red-blur.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-position: 50%;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat
}

#blogsection {
	padding-bottom: 0;
	padding-top: 0;
	background: url(/wp-content/themes/helen-of-joy/assets/img/light-blur.jpeg) 50% repeat fixed;
	background-size: cover
}

#primary {
	padding-top: 80px;
	padding-bottom: 40px
}

.post,
.widget {
	position: relative;
	border: 1px solid #ddd;
	color: #fff;
	margin: 0 0 40px;
	font-size: 1.25em
}

.post,
.post .post-excerpt .post .post-body,
.post header,
.widget {
	padding: 0 20px
}

.post-excerpt {
	font-size: 1.1em
}

.post-excerpt p {
	display: inline
}

.entry-title {
	margin: .5em 0;
	font-size: 1.5em
}

.search-page-header {
	padding: 80px 0 0;
	text-shadow: 2px 2px #000
}

.search-page-title {
	font-size: 2em
}

.search-page-content {
	color: #fff
}

.search-none-section {
	padding: 0
}

.post-body {
	padding-top: 17px
}

.post header h3,
header h1 {
	margin: 0;
	padding: .5em 0
}

header h3 {
	font-size: 35px
}

header h3 a,
header h3 a:hover {
	text-decoration: none
}

.post header h1 {
	font-size: 40px
}

.post-image img {
	height: 8em;
	width: 100%;
	z-index: -1;
	position: relative;
	border-radius: 5px
}

.post-image {
	box-shadow: inset 0 0 1em #222;
	border: 1px solid #212121;
	border-radius: 5px
}

.post-details {
	font-size: 20px;
	width: 90%
}

.post-details i.fa {
	padding-left: 10px
}

.post-details i.fa:first-child {
	padding: 0
}

.post-credits {
	padding: 10px;
	border-bottom: 1px solid #ddd
}

.widget {
	padding: 20px;
	margin: 0 0 10px;
	padding: 10px;
	border-bottom: 1px solid #ddd
}

.widget ul {
	list-style: none;
	margin: 0;
	padding: 0
}

.widget ul li {
	margin: 0 0 5px
}

.widget ul li:hover {
	position: relative;
	left: 1px
}

iframe {
	border-radius: 10px;
	box-shadow: 4px 4px 5px #000
}

#bottom-logo {
	font-size: 2em
}

#menu-footer-menu {
	display: flex;
	justify-content: center;
	flex-wrap: wrap
}

#menu-footer-menu>li {
	padding-right: 1em!important
}

label {
	display: block;
	font-weight: 700
}

input[type=email],
input[type=password],
input[type=search],
input[type=text],
input[type=url],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
	display: block;
	box-sizing: border-box;
	width: 100%;
	padding: 6px 12px
}

button[type=submit],
input[type=submit] {
	display: inline-block;
	margin-bottom: 0;
	font-weight: 700;
	line-height: 1.33;
	font-size: 18px;
	cursor: pointer;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: none;
	border-radius: 6px
}

#contact-email,
#contact-name,
#contact-subject,
#contact-word {
	font-family: times
}

button[type=submit]:hover,
input[type=submit]:hover {
	outline: none;
	border: none;
	background: #aaa
}

.page-id-97 {
	color: #fff
}

body.page-id-97 div#page.site div.container div#primary.row {
	padding-top: 10px
}

body.page-id-97>div>section {
	padding-bottom: 10px
}

@media screen and (max-width:800px) {
	.media-page {
		margin-top: 3em;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center
	}
}

@media screen and (max-width:991px) {
	#instructor .container {
		background: hsla(0, 0%, 100%, .8);
		padding: 20px
	}
}

@media screen and (max-width:768px) {
	.logo {
		width: 50%
	}
	#optin p {
		margin: 0 0 10px
	}
	#featurette iframe {
		height: 240px
	}
	.resource {
		width: 48%;
		margin-right: 2%
	}
	#bio-container {
		width: 90%
	}
}

@media screen and (max-width:568px) {
	#instructor .num {
		height: 100px;
		width: 100px;
		font-size: 22px
	}
	#instructor .num span {
		font-size: 16px
	}
	.resource {
		width: 100%;
		margin-right: 0
	}
	#audiopageplayer {
		width: 275px
	}
	#videopageplayer {
		margin-top: 50%
	}
}
