
/* FONT */

@font-face {
    font-family:"Moon Flower Bold";
    src: url("../fonts/moon-flower-bold.ttf") /* TTF file for CSS3 browsers */
}

/* COLOUR REFERENCES */

body {

    font-family: 'Moon Flower Bold', Helvetica, sans-serif;
    font-size:20px;
    background: url(../img/tile.jpg) top left repeat;
}

h1,h2,h3,h4,h5,h6 {
    -webkit-font-smoothing:antialiased;
    text-rendering: optimizeLegibility;
    font-weight: bold;
}

h1{
    font-size:3em;
}

h1,h2 {
   margin:0 0 40px;
}
h3 {
    margin:20px 0;
}
h4 {
    font-size:18px;
}
#logo {
    top:-5px;
    position:relative;
}

/* HERO */

/*
#hero {
  background: url('../img/helenofjoymobile3.jpg');
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  min-height:1000px;
}
*/

#hero .hero-text {
    margin-top:30px;
}

img {
    max-width: 100%;
}
#navbar {
  display:none;
}

/* LAYOUT */

section {
    padding: 80px 0;
}
.section-header {
    text-align:center;
}
.section-header h2{
  font-family: "Moon Flower Bold";
  font-size: 50px;
}

.feature-image {
  display: table;
  width: 100%;
}
.feature-image-default {
  background: url('../img/stuff-feature.jpg') no-repeat;
  background-size: cover;
}
.feature-image-default-alt{
  background: url('.../img/hipster-stuff.jpg') no-repeat;
  background-size: cover;
}

.feature-image h1 {
  display:table-cell;
  vertical-align: middle;
  text-align: center;
  color: white;
}


#bio-section p {
    text-align: center;
    font-size: 1.5em;
}

#post-hero-bar {
    background: #3e4249;
    padding:30px 0;
}

#music-player {
    background: #3e4249;
    color: white;
    width:100%;
}
.section-header iframe {
    margin: 0 auto;
    display: inline-block;
}
#featurette {
    background: url('../img/stuff-bg.jpg') center center repeat fixed;
    background-size: cover;
    text-align: center;
    color: white;
}
#featurette a {
  text-decoration: none;
  color: white;
}
#featurette a:hover {
  text-decoration: none;
  color: #111;
}
#upcoming-shows {
    text-align: center;
}
#upcoming-shows h1 {
  margin-bottom: 80px;
}

.show {
    margin-bottom: 60px;
}
.show img {
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border: 50%;
}
#signup {
    text-align: center;
    background: url('../img/banner_grass.jpg') center center repeat fixed;
    background-size:cover;
    color:white;
    padding:200px 0;
}

#upcoming-shows {
  padding-bottom: 0px;
}

footer {
    background: #3e4249;
    color:white;
    padding 20px 0 10px;
    font-size: 12px;
}

footer p {
    margin:0;
}
footer a:link, footer a:visited {
    color:white;
}
footer a:hover {
    color:#dd5638;
}
footer li.signup-link a {
    color:#dd5638;
}
footer li.signup-link a:hover {
    font-weight:bold;
}

/* --BLOG -- */

#blogsection {
  padding-bottom: 0px;
  padding-top: 0px;
}


#primary {
  padding-top: 80px;
  padding-bottom: 40px;
}

.post,
.widget {
  position: relative;
  border: solid 1px #ddd;
  background: white;
  padding:20px;
  margin:0 0 40px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.post header,
.post .post-excerpt
.post .post-body{
  padding: 20px;
}

.post header h1,
.post header h3 {
  margin: 0 0 15px;
  padding: 0 0 15px;
  border-bottom: solid 1px #ddd;
}

.post header h1 {
  font-size: 30px;
}

.post-image {
  height: auto;
}

.post-details {
  font-size: 20px;
  width: 90%;
}
.post-details i.fa {
  padding-left: 10px;
}

.post-details i.fa:first-child {
  padding: 0;
}

.widget {
  padding:20px;
}

.widget {
  margin: 0 0 10px;
  padding: 10px;
  border-bottom: solid 1px #ddd;

}

.widget ul {
  list-style:none;
  margin:0;
  padding:0;
}

.widget ul li {
  margin: 0 0 5px;
}

.widget ul li:hover {
 position: relative;
 left:1px;
}

iframe {
  border-radius: 10px;
}


/* Comments */

.post-comments-badge {
  height:70px;
  width:70px;
  position: absolute;
  top: 25px;
  right: 20px;
  border:none;
  -webkit-border-radius:100%;
  -moz-border-radius:100%;
  border-radius:100%;
  background: #79b044;
  text-align:center;
  display: table;
}

.post-comments-badge a {
  display:table-cell;
  vertical-align: middle;
  color: white;
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;
}

.post-comments-badge i.fa {
  display: block;
  font-size: 15px;
  padding: 0px;
  margin-bottom: 4px;
}

.post-comments-badge:hover {
  background-color: #8bc653;
}

#bottom-logo {
    font-size:2em;
}

.footer-text li {
  margin-top:3px;
  font-size:2em;
  padding-left:1.5em;
}


/* FORMS */

label {
	display: block;
	font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
	display: block;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	padding: 6px 12px;
}

input[type="submit"],
button[type="submit"] {
  display: inline-block;
  margin-bottom: 0px;
  font-weight: bold;
  line-height: 1.33;
  font-size: 18px;
  cursor: pointer;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  background-image: none;
  border: none;
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  border-radius: 6px;
}

input[type="submit"]:hover,
button[type="submit"]:hover {
  outline: none;
  border: none;
  background: #aaa;
}


/* ==== MEDIA QUERIES ==== */

@media screen and (max-width : 991px) {
	#instructor .container {
		background: rgba(255,255,255,0.8);
		padding: 20px;
	}
}

@media screen and (max-width : 768px) {
	.logo {
		width: 50%;
	}

	#optin p {
		margin: 0 0 10px;
	}

	#featurette iframe {
		height: 240px;
	}

	.resource {
		width: 48%;
		margin-right: 2%;
	}
}

/*Responsive Image queries */

@media screen and (max-width : 568px) {
	#instructor .num {
		height: 100px;
		width: 100px;
		font-size: 22px;
	}

	#instructor .num span {
		font-size: 16px;
	}

	.resource {
		width: 100%;
		margin-right: 0;
	}
}
