/* COLOUR REFERENCES */

body {

    font-family: 'Dosis', Helvetica, sans-serif;
    font-size:16px;
    background: url(../img/tile.jpg) top left repeat;
}

h1,h2,h3,h4,h5,h6 {
    -webkit-font-smoothing:antialiased;
    text-rendering: optimizeLegibility;
    font-weight: bold;
}

h1{
    font-size:3em;
}

h1,h2 {
   margin:0 0 40px;
}
h3 {
    margin:20px 0;
}
h4 {
    font-size:18px;
}
#logo {
    top:-5px;
}

/* HERO */

#hero {
    background: url(../img/large-hero.jpg) 50% 50% repeat;
    background-size: cover;
    min-height: 1000px;
    padding: 40px 0;
    color: white;
    -webkit-font-smoothing:antialiased;
    text-rendering: optimizeLegibility;
}

#hero .hero-text {
    margin-top:30px;
}

img {
    max-width: 100%;
}
#navbar {
  opacity: 0;
}
/* LAYOUT */

section {
    padding: 80px 0;
}
.section-header {
    text-align:center;
}

.feature-image {
  display: table;
  width: 100%;
}
.feature-image-default {
  background: url('../img/stuff-feature.jpg') no-repeat;
  background-size: cover;
}
.feature-image-default-alt{
  background: url('.../img/hipster-stuff.jpg') no-repeat;
  background-size: cover;
}

.feature-image h1 {
  display:table-cell;
  vertical-align: middle;
  text-align: center;
  color: white;
}


#bio-section p {
    text-align: center;
}

#post-hero-bar {
    background: #3e4249;
    padding:30px 0;
}

#music-player {
    background: #3e4249;
    color: white;
    width:100%;
}
.section-header iframe {
    margin: 0 auto;
    display: inline-block;
}
#featurette {
    background: url('../img/stuff-bg.jpg') center center repeat fixed;
    background-size: cover;
    text-align: center;
    color: white;
}
#upcoming-shows {
    text-align: center;
}
.show {
    margin-bottom: 60px;
}
.show img {
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border: 50%;
}
#signup {
    text-align: center;
    background: url('../img/banner_grass.jpg') center center repeat fixed;
    background-size:cover;
    color:white;
    padding:200px 0;
}

footer {
    background: #3e4249;
    color:white;
    padding 20px 0 10px;
    font-size: 12px;
}

footer p {
    margin:0;
}
footer a:link, footer a:visited {
    color:white;
}
footer a:hover {
    color:#dd5638;
}
footer li.signup-link a {
    color:#dd5638;
}
footer li.signup-link a:hover {
    font-weight:bold;
}

/* --BLOG -- */
#blogsection {
  padding-bottom: 0px;
}

#primary {
  padding-top: 40px;
  padding-bottom: 40px;
}

.post,
.widget {
  position: relative;
  border: solid 1px #ddd;
  background: white;
  margin:0 0 40px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.post header,
.post .post-excerpt {
  padding: 20px;
}

.post header h1,
.post header h3 {
  margin: 0 0 15px;
  padding: 0 0 15px;
  border-bottom: solid 1px #ddd;
}

.post header h1 {
  font-size: 24px;
}

.post-image {
  height: auto;
}

.post-details {
  font-size: 12px;
  width: 90%;
}
.post-details i.fa {
  padding-left: 10px;
}

.post-details i.fa:first-child {
  padding: 0;
}

.widget {
  padding:20px;
}

.widget {
  margin: 0 0 10px;
  padding: 0 0 10px;
  border-bottom: solid 1px #ddd;

}

.widget ul {
  list-style:none;
  margin:0;
  padding:0;
}

.widget ul li {
  margin: 0 0 5px;
}

.widget ul li:hover {
 position: relative;
 left:1px;
}

/* Comments */

.post-comments-badge {
  height:70px;
  width:70px;
  position: absolute;
  top: 25px;
  right: 20px;
  border:none;
  -webkit-border-radius:100%;
  -moz-border-radius:100%;
  border-radius:100%;
  background: #79b044;
  text-align:center;
  display: table;
}

.post-comments-badge a {
  display:table-cell;
  vertical-align: middle;
  color: white;
  font-size: 20px;
  line-height: 20px;
}

.post-comments-badge i.fa {
  display: block;
  font-size: 15px;
  padding: 0px;
  margin-bottom: 4px;
}

.post-comments-badge:hover {
  background-color: #8bc653;
}

#bottom-logo {
    font-size:2em;
}

.footer-text {
  margin-top:3px;
  font-family: 'Cedarville Cursive', cursive;
  font-size:1.35em;
}
.footer-text a {
    padding-right: 10px;
}
